/* CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  padding: 1rem;
}

.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar menu {
  display: flex;
  gap: 2rem;
}

.navbar h4,
.navbar i {
  background: black;
  color: white;
  font-weight: 100;
  border-radius: 2rem;
}

.navbar h4 {
  padding: 8px 16px;
}

.navbar menu a {
  text-decoration: none;
  color: black;
  font-weight: 100;
  padding: 5px 10px;
  border-radius: 2rem;
}

.navbar menu a.aboutus {
  border: 1.2px solid rgb(183, 179, 179);
}


.hero {
  width: 100%;
  height: calc(100vh - 60px - 2rem);
  background: #212121;

  background: url('https://unityholidays.co.uk/app/uploads/bis-images/1565/monitor-teaching-padel-class-2024-10-14-22-21-30-utc-scaled-1200x800-f70_56.jpg');
  background-size: cover;
  border-radius: 12px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.hero .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2.2rem;
}

.hero .content h2,
.hero .content h4,
.hero .content button {
  color: white;
}

.hero .content h2 {
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
}

.hero .content h4 {
  font-weight: 100;
  font-size: 1.5rem;
  text-align: center;
}

.hero .content button {
  background:0 #0D1A2D;
  padding: 5px 10px;
  border-radius: 2rem;
}