/* CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  padding: 1rem;
}

.navbar-section {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-section menu {
  display: flex;
  gap: 2rem;
}

.navbar-section h4,
.navbar-section i {
  background: black;
  color: white;
  font-weight: 100;
  border-radius: 2rem;
}

.navbar-section h4 {
  padding: 8px 16px;
}

.navbar-section menu a {
  text-decoration: none;
  color: black;
  font-weight: 100;
  padding: 5px 10px;
  border-radius: 2rem;
}

.navbar-section menu a.aboutus {
  border: 1.2px solid rgb(183, 179, 179);
}


.hero-section {
  width: 100%;
  height: calc(100vh - 60px - 2rem);
  background: #212121;

  background: url('https://unityholidays.co.uk/app/uploads/bis-images/1565/monitor-teaching-padel-class-2024-10-14-22-21-30-utc-scaled-1200x800-f70_56.jpg');
  background-size: cover;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2.2rem;
}

.hero-section .content h2,
.hero-section .content h4,
.hero-section .content button {
  color: white;
}

.hero-section .content h2 {
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
}

.hero-section .content h4 {
  font-weight: 100;
  font-size: 1.5rem;
  text-align: center;
}

.hero-section .content button {
  background: 0 #0D1A2D;
  padding: 5px 10px;
  border-radius: 2rem;
}

.aboutus-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.aboutus-section .horizon {
  color: black;
  font-weight: 100;
  padding: 5px 10px;
  border-radius: 2rem;
  border: 1.2px solid rgb(183, 179, 179);
}

.aboutus-section h3 {
  font-weight: 600;
  color: #060D1C;
  width: 50%;
  font-size: 1.5rem;
}

.facts-num-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem 0;
}

.facts-num-section .fact {
  text-align: center;
}

.facts-num-section h2 {
  color: #060D1C;
  font-size: 3rem;
  font-weight: 600;
}

.facts-num-section h4 {
  color: #060D1C;
  font-size: 1.2rem;
  font-weight: 300;
}

.factscards-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.card {
  width: 33.33%;
  aspect-ratio: 4/3;
  border-radius: 2rem;
}

.factscards-section .card1 {
  background-color: #060D1C;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.factscards-section .card1 .top i {
  color: #fff;
  font-weight: 400;
  font-size: 3rem;
}

.factscards-section .card1 h3 {
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
}

.factscards-section .card1 h3 span {
  font-weight: 400;
  color: #6C798B;
}

.factscards-section .card1 .bottom {
  font-weight: 400;
  color: #6C798B;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:1.5rem;
  width: 100%;
}

.factscards-section .card1 .bottom span {
  background: #2EB3FF;
  width: 120px;
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  display: flex;
  justify-content: flex-end;
}

.factscards-section .card1 .bottom span .circle {
  color: #fff;
  height:40px;
  width:40px;
  border: 5px solid #fff;
  border-radius: 50%;
}

.factscards-section .card2 {
  background: url('practice-person.webp');
  background-position: center;
  background-size: cover;

  align-content: center;
  text-align: center;
}

.factscards-section .card2 button {
  color: white;
  background: linear-gradient(to right, #93CCF0aa, #93CCF022);
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  border: 1px solid #93CCF022;
  backdrop-filter: blur(20px);
  font-weight: 350;
  font-size: 1.2rem;
}

.factscards-section .card3 {
  background-color: #F6F8FC;
}

.services-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.services-section .card {
  width: 33.33%;
  aspect-ratio: 4/3;
  border-radius: 2rem;
}

.services-section .card1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.services-section .card1 .services {
  color: black;
  font-weight: 100;
  padding: 5px 10px;
  border-radius: 2rem;
  border: 1.2px solid rgb(183, 179, 179);
}

.services-section .card1 h3 {
  font-weight: 600;
  color: #060D1C;
  font-size: 1.5rem;
}

.services-section .card1 .explore,
.services-section .card1 i {
  background: black;
  color: white;
  font-weight: 100;
  border-radius: 2rem;
}

.services-section .card1 .explore {
  padding: 8px 16px;
}

.services-section .card2 {
  background: url('tennis-player.webp');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 1.5rem;
}

.services-section .card2 button {
  color: white;
  background: linear-gradient(to right, #93CCF0aa, #93CCF022);
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  border: 1px solid #93CCF022;
  backdrop-filter: blur(20px);
  font-weight: 350;
  font-size: 1.2rem;
}


.services-section .card2 .bottom {
  display: flex;
  justify-content: space-between;
}

.services-section .card2 h4 {
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  width: 80%;
}

.services-section .card2 .bottom i {
  background: #060D1C;
  border-radius: 50%;
  padding: 1rem;
  color: #fff;
}


.services-section .card3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  gap: 1rem;
}

.services-section .card3 .top {
  background: url('tennis-balls.webp');
  background-position: center;
  background-size: cover;
  aspect-ratio: 16/9;
  height: 160px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

.services-section .card3 .top button {
  color: white;
  background: linear-gradient(to right, #93CCF0aa, #93CCF022);
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  border: 1px solid #93CCF022;
  backdrop-filter: blur(20px);
  font-weight: 350;
  font-size: 1.2rem;
}


.services-section .card3 h4 {
  color: #060D1C;
  font-weight: 400;
  font-size: 1.5rem;
  width: 70%;
}

.services-section .card3 .top h4 {
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  width: 80%;
}

.services-section .card3 .bottom {
  display: flex;
  gap: 1rem;
}

.services-section .card3 .bottom i {
  border: 1px solid #ccc;
  color: black;
  border-radius: 50%;
  padding: 1rem;
}